.image-Aligner {
  height: 400px;
  width: 100vw;
  background-color: #9797d9;
  background-image: url("https://www.transparenttextures.com/patterns/dark-tire.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
}
.profile-image{
  align-self: center;
}
.profile-text{
  align-self: center;
}