#nav-container {
  height: 100px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  overflow: auto;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#nav-logo-elm {
  font-family: "Bungee", cursive;
  padding: 1.5eml;
}
#nav-new-elm {
  color: #ffffff;
  text-decoration: none;
}
