nav {
  
  height: 100px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  overflow: hidden;
  position: fixed; 
  top: 0;
 }
 nav span {
  font-family: 'Bungee', cursive;
  padding: 1.5eml;
 }