.c1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.i2 {
  resize: none;
  background-color: inherit;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  border-color: teal;
  margin: 20px;
}
.i3 {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  font-family: "Bungee", cursive;
}
.i3i1 {
  flex-grow: 0.25;
  order: 1;
  background-color: #9797d9;
  color: #ffffff;
  border: none;
}
.i3i2 {
  flex-grow: 4;
  order: 0;
  display: flex;
  justify-content: flex-end;
}
/* Write CSS rules that target Laptop/Desktop screen sizes and beyond */
@media only screen and (min-width: 1024px) {
  .c1 {
    width: 90%;
    margin: 20px;
    margin-top: 160px;
  }
}
