.c1{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.i3{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  font-family: 'Bungee', cursive;
}
.i3i1{
  flex-grow: 1;
  order: 1;
}
.i3i2{
  flex-grow: 4;
  order: 0;
  display: flex;
  justify-content: flex-end;
}