#tweet-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  margin-top: 10px;
  margin-top: 20px;
  border-style: solid;
  border-color: teal;
  margin-bottom: 30px;
  border-radius: 25px;
}
#tweet-main:hover {
  box-shadow: 5px 10px #888888;
}
#tweet-profile {
  width: 85vw;
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
  overflow-x: hidden;
}
#tweet-c {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#tweet-image {
  height: 2.5em;
  width: 2.5em;
  background-color: transparent;
}
#tweet-id {
  margin: 5px;
  align-self: center;
}
#tweet-handle {
  color: lightskyblue;
  margin-right: 5px;
}

#tweet-body {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
#footer-container {
  width: 83vw;
  margin-left: 20px;
  padding-top: 10px;
  border-top: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  overflow: auto;
  overflow-x: hidden;
}

#awsome-item {
  margin-bottom: 10px;
}
@media only screen and (min-width: 1024px) {
  #tweet-main {
    width: 95%;
    margin: 10px;
  }
  #tweet-profile {
    width: 95%;
  }
  #footer-container {
    width: 95%;
  }
}
