#tweet-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  margin-top: 10px;  
  margin-top: 20px;
  border-style: solid;
  border-color: teal;
  margin-bottom: 30px;
  border-radius: 25px;
}
#tweet-main:hover {
  box-shadow: 5px 10px #888888;
}

#tweet-profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 15px;
}
#tweet-image{
  height: 2.5em;
  width: 2.5em;
  background-color: transparent;
}
#tweet-id {
  align-self: center;
}
#tweet-body {
  width: 100vw;
  margin-bottom: 20px;
  margin-left: 10px;
}
#footer-container {
  width:85vw;
  margin-left: 20px;
  padding-top: 10px;
  border-top: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  overflow: auto;
  overflow-x: hidden;
}
#date-item {
  /* width: 450px; */
}

#awsome-item {
  margin-bottom: 10px;
}
@media only screen and (min-width: 1024px) {
  /* Write CSS rules that target Laptop/Desktop screen sizes and beyond */
  #tweet-main {
    width: 95%;
  }
  
  #footer-container {
    width:90%;
  }
}